<%= form_for task do |f| %>
  
  <% if task.errors.any?%>
    <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>
  
  <%= f.label :content, 'タスク' %>
  <%= f.text_field :content %>
  <br/>
  <%= f.label :status, 'ステータス' %>
  <%= f.select :status, [["未実施", "未実施"], ["着手", "着手"], ["完了", "完了"]] %>
  <br/>
  <%= f.submit '反映' %>
<% end %>